/*
gradle.log
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!/gradle.properties
!.gitattributes
!*.json
!*.gradlew
!/models/
# datagen cache (rebuilt by runData)
/src/generated/resources/.cache/